.default-container {
  max-width: 1366px;
  margin: 0 auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

html, body {
  margin: 0%;
  padding: 0;
  font-family: Lato;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
   scroll-behavior: smooth;
  li, a {
    text-decoration: none !important;
  }
 }

div {
  margin: 0%; }

  header {
    text-align: inherit;
    padding: .15em 28px;
    background-color: #d9d9d9;
    width: 100%;
    min-height: 55px;
    z-index: 999;
    .navbar {
      .navbar-brand {
       font-weight: bold;
       letter-spacing: 1px;
       color: #fff;
       font-size: 36px;
       display: inline-block;
       vertical-align: middle;
     }
     .collapse form {
       position: absolute;
       right: 0;
       .navbar-nav {
         li {
         a {
           color: #fff;
           font-size: 20px;
           font-weight: bold;
         }
         &.active {
          a { color: #e4c272;
          }
         }
         }
       }
     }
    }
  }

.first {
  position: relative;
  video {
    min-width: 100%;
  }
  .content {
    background-color: rgba(58,194,185, 0.59);
    position: absolute;
    top: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 23.5% 7%;
    h1 {
      font-size: 46px;
      font-weight: 900;
      span {
        font-size: 50px;
        margin-bottom: 24px;
      }
    }
  }
}

.second {
  padding: 6% 3%;
  .col {
    float: left;
    width: 29%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2%;
    margin: 0 2%;
    .img {
      width: 25%;
      float: left;
      img {
        width: 100%;
      }
    }
    .info {
      float: left;
      width: 70%;
      padding-left: 8%;
      h2 {
        font-size: 25px;
      }
    }
    a {
      float: right;
      img {
        width: 30px;
        margin-left: 10px;
      }
    }
  }
}

.three {
  .col {
    padding: 0;
    width: 33%;
    float: left;
    .content {
      background-size: cover;
      text-align: center;
      padding: 20% 8%;
      // margin: 0 8%;
      color: #ffffff;
      h2 {
        // font-size: 3.1em;
        margin-bottom: .3em;
        font-weight: 900;
      }
      p {
        padding: 0;
        margin: 0 0 1.4em;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
  .one {
    background: url('../images/one.jpg');
    background-position: center;
    background-size: cover;
    .content {
          background-color: rgba(121,201,186, 0.97);
          &:hover {
            opacity: 0.9;
          }
    }
  }
  .two {
    background: url('../images/two.jpg');
    background-position: center;
    background-size: cover;
    .content {
          background-color: rgba(86,161,214, 0.94);
          &:hover {
            opacity: 0.8;
          }
    }
  }
  .third {
    background: url('../images/third.jpg');
    background-position: center;
    background-size: cover;
    .content {
          background-color: rgba(82,99,128, 0.93);
          &:hover {
            opacity: 0.8;
          }
    }
  }
}

.four {
  background-color: #ffd66b;
  max-height: 383px;
  .left, .right {
    float: left;
    width: 50%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .right {
    text-align: center;
    padding: 9% 5%;
    h2 {
      font-size: 1.16em;
      letter-spacing: .03em;
      font-weight: 800;
    }
    p {
      color: #666;
      font-size: 18px;
      line-height: 1.8;
    }
  }
}

.five {
  max-height: 383px;
  padding: 3% 6%;
  .left, .right {
    float: left;
    width: 50%;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .left {
    padding: 0 20px;
  }
  .right {
    text-align: left;
    h2 {
      font-size: 3.1em;
      font-weight: 900;
      margin-bottom: .3em;
      text-transform: capitalize;
    }
    p {
      color: #666;
      font-size: 18px;
      line-height: 1.8;
      padding: 0;
      margin: 0 0 1.4em;
    }
    a .click-btn {
      color: #bc6e00;
      border: 1px solid #bc6e00;
      background: 0;
      padding: 15px 30px;
      &:hover {
        background-color: #bc6e00;
        color: #ffffff;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }
    }
  }
}

// .six {
//   max-height: 362px;
//   .col {
//     float: left;
//     width: 25%;
//     padding: 0;
//     img {
//       width: 100%;
//       height: 100%;
//     }
//     .content {
//       text-align: center;
//       padding: 34% 6%;
//       h3 {
//         font-size: 1.16em;
//         letter-spacing: .03em;
//         font-weight: 800;
//       }
//       p {
//         padding: 0;
//         margin: 0 0 1.6em;
//         font-size: 17px;
//         line-height: 1.5;
//       }
//     }
//   }
//   .text {
//     background-color: #5ecce5;
//   }
//   .t-one {
//     background-color: #e67e22;
//     color: #fff;
//   }
// }

.contact {
  background: url('../images/tower.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  padding: 10% 7%;
  .content {
    background-color: rgba(255,157,0, 0.61);
    padding: 7% 5%;
    color: #fff;
    text-align: center;
    h2 {
      font-size: 1.16em;
      letter-spacing: .03em;
      margin: 0 0 .5em;
      line-height: 1.6em;
      font-weight: 900;
    }
    p {
      padding: 0;
      margin: 0 0 1.4em;
      font-size: 18px;
    }
    a .click-btn {
      color: #fff;
      border: 1px solid #fff;
      background: 0;
      padding: 15px 30px;
      font-weight: 900;
      &:hover {
        background-color: #fff;
        color: #000;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }
    }
  }
}

.footer {
  background-color: #d9d9d9;
  border-top: 1px solid rgba(0,0,0,.1);
  text-align: center;
  padding: 54px 0 2em;
  a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    bottom: 0;
    padding: .4em;
    line-height: 1;
    z-index: 10;
    color: inherit;
    -webkit-transition: all .100s;
    -moz-transition: all .100s;
    transition: all .100s;
  }
  a:before {
    font-size: 3rem;
    content: "\005E";
    font-style: normal;
    font-weight: normal;
  }
}
