/* line 1, ../sass/style.scss */
/* line 2, ../sass/aboutus.scss */
.default-container {
  max-width: 1366px;
  margin: 0 auto;
}

/* line 5, ../sass/style.scss */
/* line 8, ../sass/aboutus.scss */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* line 10, ../sass/style.scss */
/* line 15, ../sass/aboutus.scss */
html, body {
  margin: 0%;
  padding: 0;
  font-family: Lato;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
  scroll-behavior: smooth;
}

/* line 17, ../sass/style.scss */
/* line 25, ../sass/aboutus.scss */
html li, html a, body li, body a {
  text-decoration: none !important;
}

/* line 22, ../sass/style.scss */
/* line 30, ../sass/aboutus.scss */
div {
  margin: 0%;
}

/* line 34, ../sass/aboutus.scss */
header {
  text-align: inherit;
  padding: .15em 28px;
  background-color: #d9d9d9;
  width: 100%;
  min-height: 55px;
  z-index: 999;
}
/* line 42, ../sass/aboutus.scss */
header .navbar .navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  font-size: 36px;
  display: inline-block;
  vertical-align: middle;
}
/* line 50, ../sass/aboutus.scss */
header .navbar .collapse form {
  position: absolute;
  right: 0;
}
/* line 55, ../sass/aboutus.scss */
header .navbar .collapse form .navbar-nav li a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
/* line 61, ../sass/aboutus.scss */
header .navbar .collapse form .navbar-nav li.active a {
  color: #e4c272;
}

/* line 70, ../sass/aboutus.scss */
.first {
  background: url("../images/aboutusfirst.jpg");
  height: 430px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 76, ../sass/aboutus.scss */
.first h2 {
  background-color: rgba(1, 47, 90, 0.5);
  text-align: center;
  padding: 14% 0;
  font-size: 50px;
  letter-spacing: -.05em;
  color: #fff;
  font-weight: 900;
}

/* line 87, ../sass/aboutus.scss */
.second {
  background-color: #d9d9d9;
  padding: 5% 7%;
}
/* line 90, ../sass/aboutus.scss */
.second .images {
  width: 55%;
  float: left;
}
/* line 93, ../sass/aboutus.scss */
.second .images img {
  width: 100%;
}
/* line 97, ../sass/aboutus.scss */
.second .history {
  padding: 5% 0 0 40px;
  float: left;
  width: 45%;
}
/* line 101, ../sass/aboutus.scss */
.second .history h3 {
  font-size: 58px;
  line-height: 65px;
  color: #242847;
  font-weight: 900;
  margin-bottom: 17px;
}
/* line 108, ../sass/aboutus.scss */
.second .history p {
  color: #666;
  font-size: 18px;
  line-height: 1.7;
}

/* line 116, ../sass/aboutus.scss */
.founder {
  background-color: #f2efef;
  padding: 5% 7%;
}
/* line 119, ../sass/aboutus.scss */
.founder .img {
  padding-top: 5%;
  width: 45%;
  float: right;
}
/* line 123, ../sass/aboutus.scss */
.founder .img img {
  width: 100%;
}
/* line 127, ../sass/aboutus.scss */
.founder .info {
  padding: 0 40px 0 0;
  float: right;
  width: 50%;
}
/* line 131, ../sass/aboutus.scss */
.founder .info h3 {
  font-size: 58px;
  line-height: 65px;
  color: #242847;
  font-weight: 900;
  margin-bottom: 17px;
}
/* line 138, ../sass/aboutus.scss */
.founder .info p {
  color: #666;
  font-size: 18px;
  line-height: 1.7;
}

/* line 146, ../sass/aboutus.scss */
.team {
  padding: 5% 7%;
  text-align: center;
}
/* line 149, ../sass/aboutus.scss */
.team h3 {
  font-size: 58px;
  line-height: 65px;
  color: #242847;
  font-weight: 900;
  margin-bottom: 17px;
}
/* line 156, ../sass/aboutus.scss */
.team .col {
  float: left;
  width: 33%;
}

/* line 162, ../sass/aboutus.scss */
.career {
  padding: 5% 0;
  background-color: #f2efef;
  text-align: center;
}
/* line 166, ../sass/aboutus.scss */
.career h3 {
  font-size: 58px;
  line-height: 65px;
  color: #242847;
  font-weight: 900;
  margin-bottom: 27px;
}
/* line 173, ../sass/aboutus.scss */
.career .card {
  margin: 30px;
  padding: 40px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
}
/* line 180, ../sass/aboutus.scss */
.career .card img {
  width: 100%;
  margin-bottom: 20px;
}
/* line 184, ../sass/aboutus.scss */
.career .card.last {
  padding-bottom: 15px;
}
/* line 189, ../sass/aboutus.scss */
.career .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* line 193, ../sass/aboutus.scss */
.career .container {
  padding: 2px 0;
}
/* line 195, ../sass/aboutus.scss */
.career .container h4 {
  font-size: 20px;
}

/* line 201, ../sass/aboutus.scss */
.distributer {
  background: url("../images/tower.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  padding: 10% 7%;
}
/* line 208, ../sass/aboutus.scss */
.distributer .content {
  background-color: rgba(255, 157, 0, 0.61);
  padding: 7% 5%;
  color: #fff;
  text-align: center;
}
/* line 213, ../sass/aboutus.scss */
.distributer .content h2 {
  font-size: 1.16em;
  letter-spacing: .03em;
  margin: 0 0 .5em;
  line-height: 1.6em;
  font-weight: 900;
}
/* line 220, ../sass/aboutus.scss */
.distributer .content p {
  padding: 0;
  margin: 0 0 1.4em;
  font-size: 18px;
}
/* line 225, ../sass/aboutus.scss */
.distributer .content a .click-btn {
  color: #fff;
  border: 1px solid #fff;
  background: 0;
  padding: 15px 30px;
  font-weight: 900;
}
/* line 231, ../sass/aboutus.scss */
.distributer .content a .click-btn:hover {
  background-color: #fff;
  color: #000;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* line 241, ../sass/aboutus.scss */
.footer {
  background-color: #d9d9d9;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 54px 0 2em;
}
/* line 246, ../sass/aboutus.scss */
.footer a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  bottom: 0;
  padding: .4em;
  line-height: 1;
  z-index: 10;
  color: inherit;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
/* line 259, ../sass/aboutus.scss */
.footer a:before {
  font-size: 3rem;
  content: "\005E";
  font-style: normal;
  font-weight: normal;
}
