/* line 1, ../sass/services.scss */
.default-container {
  max-width: 1366px;
  margin: 0 auto;
}

/* line 5, ../sass/services.scss */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* line 10, ../sass/services.scss */
html, body {
  margin: 0%;
  padding: 0;
  font-family: Lato;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
  scroll-behavior: smooth;
}
/* line 18, ../sass/services.scss */
html li, html a, body li, body a {
  text-decoration: none !important;
}

/* line 23, ../sass/services.scss */
div {
  margin: 0%;
}

/* line 26, ../sass/services.scss */
header {
  text-align: inherit;
  padding: .15em 28px;
  background-color: #d9d9d9;
  width: 100%;
  min-height: 55px;
  z-index: 999;
}
/* line 34, ../sass/services.scss */
header .navbar .navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  font-size: 36px;
  display: inline-block;
  vertical-align: middle;
}
/* line 42, ../sass/services.scss */
header .navbar .collapse form {
  position: absolute;
  right: 0;
}
/* line 47, ../sass/services.scss */
header .navbar .collapse form .navbar-nav li a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
/* line 53, ../sass/services.scss */
header .navbar .collapse form .navbar-nav li.active a {
  color: #e4c272;
}

/* line 62, ../sass/services.scss */
.first {
  position: relative;
}
/* line 64, ../sass/services.scss */
.first video {
  min-width: 100%;
}
/* line 67, ../sass/services.scss */
.first .content {
  background-color: rgba(58, 194, 185, 0.59);
  position: absolute;
  top: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 23.5% 7%;
}
/* line 74, ../sass/services.scss */
.first .content h1 {
  font-size: 46px;
  font-weight: 900;
}
/* line 77, ../sass/services.scss */
.first .content h1 span {
  font-size: 50px;
  margin-bottom: 24px;
}

/* line 85, ../sass/services.scss */
.second {
  padding: 6% 3%;
}
/* line 87, ../sass/services.scss */
.second .col {
  float: left;
  width: 29%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2%;
  margin: 0 2%;
}
/* line 94, ../sass/services.scss */
.second .col .img {
  width: 25%;
  float: left;
}
/* line 97, ../sass/services.scss */
.second .col .img img {
  width: 100%;
}
/* line 101, ../sass/services.scss */
.second .col .info {
  float: left;
  width: 70%;
  padding-left: 8%;
}
/* line 105, ../sass/services.scss */
.second .col .info h2 {
  font-size: 25px;
}
/* line 109, ../sass/services.scss */
.second .col a {
  float: right;
}
/* line 111, ../sass/services.scss */
.second .col a img {
  width: 30px;
  margin-left: 10px;
}

/* line 120, ../sass/services.scss */
.three .col {
  padding: 0;
  width: 33%;
  float: left;
}
/* line 124, ../sass/services.scss */
.three .col .content {
  background-size: cover;
  text-align: center;
  padding: 20% 8%;
  color: #ffffff;
}
/* line 130, ../sass/services.scss */
.three .col .content h2 {
  margin-bottom: .3em;
  font-weight: 900;
}
/* line 135, ../sass/services.scss */
.three .col .content p {
  padding: 0;
  margin: 0 0 1.4em;
  font-size: 20px;
  font-weight: 600;
}
/* line 143, ../sass/services.scss */
.three .one {
  background: url("../images/one.jpg");
  background-position: center;
  background-size: cover;
}
/* line 147, ../sass/services.scss */
.three .one .content {
  background-color: rgba(121, 201, 186, 0.97);
}
/* line 149, ../sass/services.scss */
.three .one .content:hover {
  opacity: 0.9;
}
/* line 154, ../sass/services.scss */
.three .two {
  background: url("../images/two.jpg");
  background-position: center;
  background-size: cover;
}
/* line 158, ../sass/services.scss */
.three .two .content {
  background-color: rgba(86, 161, 214, 0.94);
}
/* line 160, ../sass/services.scss */
.three .two .content:hover {
  opacity: 0.8;
}
/* line 165, ../sass/services.scss */
.three .third {
  background: url("../images/third.jpg");
  background-position: center;
  background-size: cover;
}
/* line 169, ../sass/services.scss */
.three .third .content {
  background-color: rgba(82, 99, 128, 0.93);
}
/* line 171, ../sass/services.scss */
.three .third .content:hover {
  opacity: 0.8;
}

/* line 178, ../sass/services.scss */
.four {
  background-color: #ffd66b;
  max-height: 383px;
}
/* line 181, ../sass/services.scss */
.four .left, .four .right {
  float: left;
  width: 50%;
}
/* line 184, ../sass/services.scss */
.four .left img, .four .right img {
  width: 100%;
  height: 100%;
}
/* line 189, ../sass/services.scss */
.four .right {
  text-align: center;
  padding: 9% 5%;
}
/* line 192, ../sass/services.scss */
.four .right h2 {
  font-size: 1.16em;
  letter-spacing: .03em;
  font-weight: 800;
}
/* line 197, ../sass/services.scss */
.four .right p {
  color: #666;
  font-size: 18px;
  line-height: 1.8;
}

/* line 205, ../sass/services.scss */
.five {
  max-height: 383px;
  padding: 3% 6%;
}
/* line 208, ../sass/services.scss */
.five .left, .five .right {
  float: left;
  width: 50%;
}
/* line 211, ../sass/services.scss */
.five .left img, .five .right img {
  height: 100%;
  width: 100%;
}
/* line 216, ../sass/services.scss */
.five .left {
  padding: 0 20px;
}
/* line 219, ../sass/services.scss */
.five .right {
  text-align: left;
}
/* line 221, ../sass/services.scss */
.five .right h2 {
  font-size: 3.1em;
  font-weight: 900;
  margin-bottom: .3em;
  text-transform: capitalize;
}
/* line 227, ../sass/services.scss */
.five .right p {
  color: #666;
  font-size: 18px;
  line-height: 1.8;
  padding: 0;
  margin: 0 0 1.4em;
}
/* line 234, ../sass/services.scss */
.five .right a .click-btn {
  color: #bc6e00;
  border: 1px solid #bc6e00;
  background: 0;
  padding: 15px 30px;
}
/* line 239, ../sass/services.scss */
.five .right a .click-btn:hover {
  background-color: #bc6e00;
  color: #ffffff;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* line 284, ../sass/services.scss */
.contact {
  background: url("../images/tower.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  padding: 10% 7%;
}
/* line 291, ../sass/services.scss */
.contact .content {
  background-color: rgba(255, 157, 0, 0.61);
  padding: 7% 5%;
  color: #fff;
  text-align: center;
}
/* line 296, ../sass/services.scss */
.contact .content h2 {
  font-size: 1.16em;
  letter-spacing: .03em;
  margin: 0 0 .5em;
  line-height: 1.6em;
  font-weight: 900;
}
/* line 303, ../sass/services.scss */
.contact .content p {
  padding: 0;
  margin: 0 0 1.4em;
  font-size: 18px;
}
/* line 308, ../sass/services.scss */
.contact .content a .click-btn {
  color: #fff;
  border: 1px solid #fff;
  background: 0;
  padding: 15px 30px;
  font-weight: 900;
}
/* line 314, ../sass/services.scss */
.contact .content a .click-btn:hover {
  background-color: #fff;
  color: #000;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* line 324, ../sass/services.scss */
.footer {
  background-color: #d9d9d9;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 54px 0 2em;
}
/* line 329, ../sass/services.scss */
.footer a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  bottom: 0;
  padding: .4em;
  line-height: 1;
  z-index: 10;
  color: inherit;
  -webkit-transition: all .100s;
  -moz-transition: all .100s;
  transition: all .100s;
}
/* line 342, ../sass/services.scss */
.footer a:before {
  font-size: 3rem;
  content: "\005E";
  font-style: normal;
  font-weight: normal;
}
