/* line 1, ../sass/style.scss */
.default-container {
  max-width: 1366px;
  margin: 0 auto;
}

/* line 5, ../sass/style.scss */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* line 10, ../sass/style.scss */
html, body {
  margin: 0%;
  padding: 0;
  font-family: Lato;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
}
/* line 17, ../sass/style.scss */
html li, html a, body li, body a {
  text-decoration: none !important;
}

/* line 22, ../sass/style.scss */
div {
  margin: 0%;
}

/* line 25, ../sass/style.scss */
header .navbar .logo {
  margin: 0 30px;
}

/* line 29, ../sass/style.scss */
#tabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  list-style: none;
}
/* line 35, ../sass/style.scss */
#tabs li {
  float: left;
  margin: 0 -15px 0 0;
}
/* line 38, ../sass/style.scss */
#tabs li.active a {
  border-bottom-color: #3e75c7;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 43, ../sass/style.scss */
#tabs li a:focus {
  outline: 0;
}
/* line 47, ../sass/style.scss */
#tabs a {
  float: left;
  position: relative;
  padding: 0 40px;
  height: 0;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #3D3D3D;
  border-bottom-color: #777 \9;
  opacity: .3;
  filter: alpha(opacity=30);
}
/* line 61, ../sass/style.scss */
#tabs a:hover, #tabs a:focus {
  border-bottom-color: #3e75c7;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 68, ../sass/style.scss */
#tabs #current {
  z-index: 3;
  border-bottom-color: #3d3d3d;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 76, ../sass/style.scss */
.second {
  padding: 5% 10%;
}
/* line 78, ../sass/style.scss */
.second h2 {
  margin: 30px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
}
/* line 84, ../sass/style.scss */
.second .view {
  width: 50%;
  height: 80%;
  margin: 10px auto;
  float: left;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 1px 2px #e6e6e6;
  cursor: default;
}
/* line 97, ../sass/style.scss */
.second .view .mask, .second .view .content {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
/* line 103, ../sass/style.scss */
.second .view img {
  display: block;
  position: relative;
}
/* line 107, ../sass/style.scss */
.second .view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0;
}
/* line 117, ../sass/style.scss */
.second .view p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center;
}
/* line 126, ../sass/style.scss */
.second .view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
}
/* line 135, ../sass/style.scss */
.second .view a.info:hover {
  box-shadow: 0 0 5px #000;
}
/* line 139, ../sass/style.scss */
.second .view-first img {
  transition: all 0.2s linear;
}
/* line 142, ../sass/style.scss */
.second .view-first .mask {
  height: 100%;
  opacity: 0;
  background-color: rgba(57, 107, 181, 0.7);
  transition: all 0.4s ease-in-out;
}
/* line 148, ../sass/style.scss */
.second .view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
/* line 153, ../sass/style.scss */
.second .view-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}
/* line 158, ../sass/style.scss */
.second .view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
/* line 164, ../sass/style.scss */
.second .view-first:hover img {
  transform: scale(1.1);
}
/* line 167, ../sass/style.scss */
.second .view-first:hover .mask {
  opacity: 1;
}
/* line 170, ../sass/style.scss */
.second .view-first:hover h2,
.second .view-first:hover p,
.second .view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}
/* line 176, ../sass/style.scss */
.second .view-first:hover p {
  transition-delay: 0.1s;
}
/* line 179, ../sass/style.scss */
.second .view-first:hover a.info {
  transition-delay: 0.2s;
}

/* line 184, ../sass/style.scss */
.three {
  padding: 7% 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/whywe4.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* line 196, ../sass/style.scss */
.three h2 {
  margin: 30px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  color: #fff;
}
/* line 204, ../sass/style.scss */
.three .whywe .description {
  color: #fff;
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
}

/* line 213, ../sass/style.scss */
.four {
  margin: 5% 0;
}
/* line 215, ../sass/style.scss */
.four h2 {
  margin: 30px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
}
/* line 221, ../sass/style.scss */
.four .testimonial {
  padding: 70px 30px 50px;
  margin: 90px 30px 30px;
  border: 1px solid #3e75c7;
  position: relative;
}
/* line 227, ../sass/style.scss */
.four .testimonial .pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #3e75c7;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  background-color: #fff;
}
/* line 241, ../sass/style.scss */
.four .testimonial .pic img {
  width: 100%;
  height: auto;
}
/* line 245, ../sass/style.scss */
.four .testimonial .description {
  font-size: 15px;
  color: #5e595b;
  line-height: 27px;
  text-align: center;
  margin: 0;
  position: relative;
}
/* line 253, ../sass/style.scss */
.four .testimonial .description:before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  color: #d7d7d7;
  position: absolute;
  top: 0;
  left: -2px;
}
/* line 262, ../sass/style.scss */
.four .testimonial .title {
  display: inline-table;
  padding: 10px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ea816b;
  font-size: 20px;
  font-weight: 700;
  color: #c7373c;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
}
/* line 278, ../sass/style.scss */
.four .testimonial .post {
  font-size: 15px;
  color: #671a36;
}
/* line 282, ../sass/style.scss */
.four .owl-theme .owl-controls {
  width: 100%;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 38%;
}
/* line 289, ../sass/style.scss */
.four .owl-theme .owl-controls .owl-buttons div {
  width: 50px;
  height: 50px;
  line-height: 40px;
  border-radius: 0;
  background: transparent;
}
/* line 296, ../sass/style.scss */
.four .owl-prev {
  position: absolute;
  left: -5%;
}
/* line 300, ../sass/style.scss */
.four .owl-next {
  position: absolute;
  right: -5%;
}
/* line 304, ../sass/style.scss */
.four .owl-prev:after,
.four .owl-next:after {
  content: "\f104";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: #c7373c;
  opacity: 1;
}
/* line 312, ../sass/style.scss */
.four .owl-next:after {
  content: "\f105";
}
@media only screen and (max-width: 479px) {
  /* line 315, ../sass/style.scss */
  .four .testimonial {
    padding: 70px 10px 30px;
  }
  /* line 316, ../sass/style.scss */
  .four .testimonial .description:before {
    top: -20px;
  }
  /* line 317, ../sass/style.scss */
  .four .testimonial .title {
    font-size: 12px;
  }
  /* line 318, ../sass/style.scss */
  .four .testimonial .post {
    font-size: 11px;
  }
}

/* line 325, ../sass/style.scss */
.five .footer {
  font-weight: bold;
  color: #ffffff;
  background-color: #3e75c7;
}
/* line 329, ../sass/style.scss */
.five .footer .row-footer1 {
  margin: 0%;
  padding: 60px 98px 50px;
  max-width: 1366px;
  text-align: center;
}
/* line 334, ../sass/style.scss */
.five .footer .row-footer1 .col-footer1 {
  float: left;
  width: 80%;
}
/* line 338, ../sass/style.scss */
.five .footer .row-footer1 .col-footer2 {
  float: left;
  width: 20%;
}
/* line 342, ../sass/style.scss */
.five .footer .row-footer1 .col-footer {
  margin: 0%;
  padding: 0%;
  float: left;
  width: 30%;
}
/* line 348, ../sass/style.scss */
.five .footer .row-footer1 .col-footer > p {
  text-align: left;
  margin: 0%;
  padding: 64px 0 30px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}
/* line 357, ../sass/style.scss */
.five .footer .row-footer1 .col-footer ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
  text-align: left;
}
/* line 362, ../sass/style.scss */
.five .footer .row-footer1 .col-footer ul a {
  text-align: left;
  margin: 0%;
  padding: 0 0 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
}
/* line 372, ../sass/style.scss */
.five .footer .row-footer1 .col-footer .address {
  padding: 0 0 36px;
  text-transform: capitalize;
  line-height: 1.63;
}
/* line 377, ../sass/style.scss */
.five .footer .row-footer1 .col-footer .phone {
  padding: 0 0 38px;
}
/* line 379, ../sass/style.scss */
.five .footer .row-footer1 .col-footer .phone .ph {
  float: left;
  padding-right: 16px;
}
/* line 382, ../sass/style.scss */
.five .footer .row-footer1 .col-footer .phone .ph img {
  width: 30px;
}
/* line 386, ../sass/style.scss */
.five .footer .row-footer1 .col-footer .phone a p {
  float: left;
  margin: 0%;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #fff;
}
/* line 395, ../sass/style.scss */
.five .footer .row-footer1 .col-footer .email {
  padding: 0 0 5px;
}
/* line 397, ../sass/style.scss */
.five .footer .row-footer1 .col-footer .email .emailimg {
  float: left;
  padding-right: 16px;
}
/* line 400, ../sass/style.scss */
.five .footer .row-footer1 .col-footer .email .emailimg img {
  width: 30px;
}
/* line 404, ../sass/style.scss */
.five .footer .row-footer1 .col-footer .email a p {
  float: left;
  margin: 0%;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  color: #fff;
}
/* line 414, ../sass/style.scss */
.five .footer .row-footer1 .col-footer .lexlogo {
  height: auto;
  width: 79px;
  margin: 70px 0 50px;
}
/* line 421, ../sass/style.scss */
.five .footer .row-footer1 .col-footer .social-net-logo .social {
  padding: 0 30px 0 0;
}
/* line 424, ../sass/style.scss */
.five .footer .row-footer1 .col-footer .social-net-logo .last {
  padding: 0%;
}
/* line 429, ../sass/style.scss */
.five .footer .row-footer1 .col2 {
  width: 24%;
}
/* line 432, ../sass/style.scss */
.five .footer .row-footer1 .col3 {
  width: 45%;
}
/* line 435, ../sass/style.scss */
.five .footer .row-footer1 .col4 {
  width: 100%;
}
/* line 440, ../sass/style.scss */
.five .footer .row-footer2 {
  text-align: center;
  font-size: 14px;
  padding: 0 0 70px;
}
/* line 444, ../sass/style.scss */
.five .footer .row-footer2 p {
  margin: 0%;
}

@media screen and (max-width: 1280px) {
  /* line 453, ../sass/style.scss */
  .footer .row-footer1 .col-footer1 {
    width: 100%;
  }
  /* line 455, ../sass/style.scss */
  .footer .row-footer1 .col-footer1 .col-footer {
    width: 35%;
  }
  /* line 458, ../sass/style.scss */
  .footer .row-footer1 .col-footer1 .col2 {
    width: 25%;
  }
  /* line 461, ../sass/style.scss */
  .footer .row-footer1 .col-footer1 .col3 {
    width: 40%;
  }
  /* line 465, ../sass/style.scss */
  .footer .row-footer1 .col-footer2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  /* line 477, ../sass/style.scss */
  .footer .row-footer1 .col-footer1 {
    width: 100%;
  }
  /* line 479, ../sass/style.scss */
  .footer .row-footer1 .col-footer1 .col-footer {
    width: 34%;
  }
  /* line 482, ../sass/style.scss */
  .footer .row-footer1 .col-footer1 .col2 {
    width: 27%;
  }
  /* line 485, ../sass/style.scss */
  .footer .row-footer1 .col-footer1 .col3 {
    width: 38%;
  }
  /* line 489, ../sass/style.scss */
  .footer .row-footer1 .col-footer2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  /* line 499, ../sass/style.scss */
  .footer .row-footer1 {
    padding: 60px 20px 50px;
  }
}
@media screen and (max-width: 640px) {
  /* line 507, ../sass/style.scss */
  .footer .row-footer1 {
    padding: 0 50px 20px;
  }
  /* line 510, ../sass/style.scss */
  .footer .row-footer1 .col-footer1 .col-footer {
    width: 50% !important;
    padding-right: 40px;
  }
  /* line 514, ../sass/style.scss */
  .footer .row-footer1 .col-footer1 .col3 {
    width: 100% !important;
    padding-right: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 525, ../sass/style.scss */
  .footer .row-footer1 {
    padding: 0 30px 20px 30px;
  }
  /* line 528, ../sass/style.scss */
  .footer .row-footer1 .col-footer1 .col-footer {
    width: 50% !important;
    padding-right: 40px;
  }
  /* line 532, ../sass/style.scss */
  .footer .row-footer1 .col-footer1 .col3 {
    width: 100% !important;
    padding-right: 0;
  }
}
@media screen and (max-width: 360px) {
  /* line 543, ../sass/style.scss */
  .footer .row-footer1 {
    padding: 0 30px 20px 30px;
  }
  /* line 546, ../sass/style.scss */
  .footer .row-footer1 .col-footer1 .col-footer {
    width: 50% !important;
    padding-right: 40px;
  }
  /* line 550, ../sass/style.scss */
  .footer .row-footer1 .col-footer1 .col3 {
    width: 100% !important;
    padding-right: 0;
  }
}
@media screen and (max-width: 320px) {
  /* line 561, ../sass/style.scss */
  .footer .row-footer1 {
    padding: 0 10px 20px 30px;
  }
  /* line 564, ../sass/style.scss */
  .footer .row-footer1 .col-footer1 .col-footer {
    width: 50% !important;
    padding-right: 30px;
  }
  /* line 568, ../sass/style.scss */
  .footer .row-footer1 .col-footer1 .col3 {
    width: 100% !important;
    padding-right: 0;
  }
}
